<%= form_with model: Comment, url: user_post_comments_path(@user.id, @post.id), method: :post, local: true do |f| %>
    <div>
      <%= f.label :text %><br>
      <%= f.text_field :text %>
    </div>
    <%= f.submit "Create Comment" %>
  <% end %>