/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
}

.container {
  margin: 1rem 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.user-img {
  width: 5rem;
  height: 5rem;
  background-color: rgb(190, 190, 190);
}

.user-img,
.user-info {
  border: gray 2px solid;
}

a {
  text-decoration: none;
  color: #333;
  display: flex;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-right: 2rem;
}

.user-info h2 {
  margin: 1rem;
  width: 50vw;
}

.user-info p {
  align-self: flex-end;
}

.user-bio {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  gap: 1rem;
  border: gray 2px solid;
  padding: 0.5rem;
}

.user-allposts {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  gap: 1rem;
}

.user-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: gray 2px solid;
  padding: 0.5rem;
}

.user-postdata {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  font-size: 0.75rem;
}

.post-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  padding: 0 1rem;
}

.post-detailed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 2rem 0.25rem 2rem;
  border: gray 2px solid;
  padding: 0.5rem;
}

.post-new {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 2rem;
  border: gray 2px solid;
  padding: 0.5rem;
  width: fit-content;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  text-decoration: dashed;
  font-size: 1.25rem;
  font-weight: bold;
}

#post_text,
#post_title {
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 400px;
}

#post_text:focus {
  height: 500px;
  overflow-wrap: break-word;
}

.postcreate-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  margin: auto;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.comments-container {
  margin: 0 2rem 1rem 2rem;
  border: gray 2px solid;
  padding: 0.5rem;
}

.comment {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.comment-body {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.postdetail-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.postdetail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: gray 2px solid;
  padding: 0.5rem;
  margin: 1rem 2rem 0 2rem;
}

.postdetail-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postdetail-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  font-size: 0.75rem;
}

.postdetail-post {
  margin-bottom: 1rem;
}

.btn-allposts {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  margin: auto;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  text-decoration: none;
}

.title-date {
  color: gray;
  font-size: 0.5rem;
}

.comment-name {
  font-weight: bold;
}

.comment-text {
  overflow-wrap: anywhere;
}

.comment-date {
  color: gray;
  font-size: 0.75rem;
}

.comment-new {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem 2rem;
  gap: 1rem;
}

.comment-input {
  padding: 0.5rem;
}

.comment-btn {
  display: flex;
  background-color: rgb(230, 230, 230);
  margin: auto;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  text-decoration: none;
}

.like-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  margin: 1rem 2rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  text-decoration: none;
}

.hidden {
  display: none;
}

.newpost-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  margin: auto;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  text-decoration: none;
}

.flash-success {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  background-color: lightgreen;
  color: darkgreen;
  border-radius: 0 0 2rem 2rem;
  width: fit-content;
  animation: fadeout 4s;
  opacity: 0;
}

.flash-error,
.flash-alert {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  background-color: lightcoral;
  color: darkred;
  border-radius: 0 0 2rem 2rem;
  width: fit-content;
  animation: fadeout 4s;
  opacity: 0;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(1px);
}

.flash-notice {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  background-color: orange;
  color: black;
  border-radius: 0 0 2rem 2rem;
  width: fit-content;
  animation: fadeout 4s;
  opacity: 0;
}

.field {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.container-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

#new_user {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions,
.actions a {
  margin: 0.5rem 0;
}

.rem-field {
  padding: 0.5rem;
}

.login-btn,
.signup-btn,
.forget-btn,
.reset-btn,
.conf-btn {
  background-color: rgb(230, 230, 230);
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 12px;
}

#user_email,
#user_password,
#user_password_confirmation,
.form-control {
  border: gray 2px solid;
  padding: 0.5rem;
}
