/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
}

  .container {
  margin: 1rem 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.user-img {
  width: 5rem;
  height: 5rem;
  background-color: rgb(190, 190, 190);
}

.user-img,
.user-info {
  border: gray 2px solid;
}

a {
  text-decoration: none;
  color: #333;
  display: flex;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-right: 2rem;
}

.user-info h2 {
  margin: 1rem;
  width: 50vw;
}

.user-info p {
  align-self: flex-end;
}

.user-bio {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  gap: 1rem;
  border: gray 2px solid;
  padding: 0.5rem;
}

.user-allposts {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  gap: 1rem;
}

.user-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: gray 2px solid;
  padding: 0.5rem;
}

.user-postdata {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  font-size: 0.75rem;
}

.post-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  padding: 0 1rem;
}

.post-detailed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 2rem 0.25rem 2rem;
  border: gray 2px solid;
  padding: 0.5rem;
}

.comments-container {
  margin: 0 2rem 1rem 2rem;
  border: gray 2px solid;
  padding: 0.5rem;
}

.comment {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.comment-body {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.postdetail-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.postdetail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: gray 2px solid;
  padding: 0.5rem;
  margin: 1rem 2rem 0 2rem;
}

.postdetail-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postdetail-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  font-size: 0.75rem;
}

.postdetail-post {
  margin-bottom: 1rem;
}

.btn-allposts {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  margin: auto;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  text-decoration: none;
}

.title-date {
  color: gray;
  font-size: 0.5rem;
}

.comment-date {
  color: gray;
  font-size: 0.75rem;
}

.newpost-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  margin: auto;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  text-decoration: none;
}

.success {
  color: green;
}